[submodule "external/bgfx.cmake"]
	path = external/bgfx.cmake
	url = git@github.com:JoshuaBrookover/bgfx.cmake.git
	ignore = dirty
[submodule "include/stb"]
	path = include/stb
	url = git@github.com:nothings/stb.git
[submodule "include/linalg"]
	path = include/linalg
	url = git@github.com:sgorsten/linalg.git
